---
type: l3leaf

l3leaf:
  defaults:
    platform: vEOS-lab
    loopback_ipv4_pool: 198.18.248.64/26
    loopback_ipv4_offset: 2
    vtep_loopback_ipv4_pool: 198.18.248.0/26
    uplink_switches: ['SPN1-FAB1', 'SPN2-FAB1']
    uplink_ipv4_pool: 198.18.249.0/25
    mlag_peer_ipv4_pool: 198.18.248.128/26
    mlag_peer_l3_ipv4_pool: 198.18.248.192/26
    virtual_router_mac_address: 00:1c:73:00:00:99
    spanning_tree_priority: 4096
    spanning_tree_mode: rapid-pvst

  node_groups:
    - group: BDR-FAB1
      bgp_as: 65101
      nodes:
        - name: BDR1-FAB1
          id: 3
          mgmt_ip: 192.168.1.152/24
          uplink_switch_interfaces: [Ethernet1, Ethernet1]
          evpn_gateway:
            remote_peers:
              - hostname: BDR1-FAB2
            evpn_l2:
              enabled: true
            evpn_l3:
              enabled: true
              inter_domain: true

        - name: BDR2-FAB1
          id: 4
          mgmt_ip: 192.168.1.153/24
          uplink_switch_interfaces: [Ethernet2, Ethernet2]
          evpn_gateway:
            remote_peers:
              - hostname: BDR2-FAB2
            evpn_l2:
              enabled: true
            evpn_l3:
              enabled: true
              inter_domain: true
      
    - group: SVC-FAB1
      bgp_as: 65102
      nodes:
        - name: SVC1-FAB1
          id: 5
          mgmt_ip: 192.168.1.154/24
          uplink_switch_interfaces: [Ethernet3, Ethernet3]
        - name: SVC2-FAB1
          id: 6
          mgmt_ip: 192.168.1.155/24
          uplink_switch_interfaces: [Ethernet4, Ethernet4]
    - group: DLF12-FAB1
      bgp_as: 65103
      nodes:
        - name: DLF1-FAB1
          id: 7
          mgmt_ip: 192.168.1.156/24
          uplink_switch_interfaces: [Ethernet5, Ethernet5]
        - name: DLF2-FAB1
          id: 8
          mgmt_ip: 192.168.1.157/24
          uplink_switch_interfaces: [Ethernet6, Ethernet6]
    - group: DLF34-FAB1
      bgp_as: 65104
      nodes:
        - name: DLF3-FAB1
          id: 9
          mgmt_ip: 192.168.1.158/24
          uplink_switch_interfaces: [Ethernet7, Ethernet7]
        - name: DLF4-FAB1
          id: 10
          mgmt_ip: 192.168.1.159/24
          uplink_switch_interfaces: [Ethernet8, Ethernet8]
